.navbar-brand img{
    width:130px;
}

.top-navbar{
    border-bottom: 12px solid white;
}

.form-control{
    margin-right: 2%;
}

.nav-link{
    white-space: nowrap;
    font-size: 20px;
    margin-right: 15px;
}

.bottom-container{
    padding-top: 102px; /*90 navbar*/
}

@media screen and (max-width: 576px) {
    .left-side-navbar{
        padding-bottom: 240px !important;
    }

    .bottom-container {
        padding-top: 240px; /*228 navbar*/
    }
}

.login-register-row {
    justify-content: space-evenly;
}

.bi{
    width: 20px;
    height: 20px;
}

.title{
    font-weight: bold;
}

.left-side-navbar{
    width: 230px;
    padding-bottom: 102px;
    position: fixed;
    overflow-y:auto;
    height: 100%;
    flex-direction: column;
}

.guitars {
    padding-left: 242px;
}

.card-body{
    padding-bottom: 0px;
    padding-top: 0px;
}

.sorting-tabs{
    font-size: 18px;
}

.button-1{
    margin-top: 20px;
}