.navbar-brand img{
    width:130px;
}

.top-navbar{
    border-bottom: 12px solid white;
}

.form-control{
    margin-right: 2%;
}

.description-form{
    width: 30%;
}

.nav-link{
    white-space: nowrap;
    font-size: 20px;
    margin-right: 15px;
}

.bottom-container{
    padding-top: 102px; /*90 navbar*/
}

@media screen and (max-width: 576px) {
    .left-side-navbar{
        padding-bottom: 175px !important;
    }

    .bottom-container {
        padding-top: 175px; /*228 navbar*/
    }
}

.login-register-row {
    justify-content: space-evenly;
}

.action-logo{
    font-size: 22px !important;
}

.title{
    font-weight: bold;
}

.left-side-navbar{
    width: 224px;
    padding-bottom: 102px;
    position: fixed;
    overflow-y:auto;
    height: 100%;
    flex-direction: column;
}

.guitars {
    padding-left: 236px;
    padding-right: 0;
}

.sorting-tabs{
    font-size: 18px;
}

.button-1{
    margin-top: 20px;
    margin-bottom: 1.5rem;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    z-index: 1;
}

.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: contain;
}